@model IEnumerable<TalentTrack.Models.tblArtist>

@{
    ViewBag.Title = "artistIndex";
    Layout = "~/Views/Shared/ShowPostLayout.cshtml";
}

<!-- section page  start -->
<div class="jbm-page-title page-title-bg-2 padding-bottom-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <span class="section-tit-line"></span>
                <h2>
                    <span class="fw-400">Find</span>
                    Candidates
                </h2>
                <p>
                    <a href="#"><i class="fa fa-home" aria-hidden="true"></i></a> &nbsp; > &nbsp;<a href="#">Candidates</a>
                    &nbsp; > &nbsp;Find Candidates
                </p>
            </div>
        </div>
    </div>
</div>
<!-- section page title start -->

    <!-- start search -->
<div class="jbm-search-bar jbm-search-1">
    <div class="container">
        @using(Html.BeginForm("artistIndex","Login",FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="jbm-sch-inner margin-top-85-minus">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="keyword" name="name" placeholder="Search Company" />
                                    <p>(Example: Alia bhatt)</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    @Html.DropDownList("categoryId", ViewBag.category as SelectList, "---Select Category---", new { @class = "form-control" })
                                    <p>(Example: Actor,Singer)</p>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="location" name="cityName" placeholder="Location" />
                                    <p>(Example: Surat,Mumbai)</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group ">
                                    <input type="submit" class="form-control" id="btnSearch" name="search" value="Search" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- end search -->

<div class="jbm-section-jobs padding-top-80 padding-bottom-100">
    <div class="container">
        @foreach(var item in Model)
        {

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 jbm-job-loop">
                <div class="jbm-job-loop-in">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12 text-left jbm-first-col">
                            <div class="jbm-company-logo">
                                <img src="~/images/@item.image" height="75px" width="75px" alt="" class="media-object" />
                            </div>
                            <div class="jbm-job-title">
                                <a href="#" class="title-link">@item.tblCategory.categoryName</a>
                                <br />
                                <a href="mailto:" class="jbm-job-email">@item.name</a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4 text-center">
                            <div class="jbm-job-locaction">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <br />
                                <a href="#">@item.tblCity.cityName</a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4 text-center">
                            <div class="jbm-job-price">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <br />
                                <span>+91&nbsp;@item.contactNo</span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4 text-center">
                            <div class="jbm-job-price">
                                <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                                <br />
                                <span>@item.DOB</span>
                            </div>
                        </div>

                        <div class="col-md-3 col-xs-12 col-xs-12">
                            <div class="jbm-job-links">
                                <div class="jbm-job-detail">
                                    <a href="@Url.Action("loadOtherProfile","OtherProfile",new { item.artistId })">More Info. . .</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        }
    <!--jbm-job-loop-in-->
    </div><!--jbm-job-loop-->
    <div class="row margin-top-40 margin-bottom-50">
        <div class="col-xs-12 text-center">
            <a href="#" class="jbm-loadmore">Load More Jobs</a>
        </div>
    </div>
</div>
<!-- end section category -->


@*<h2>artistIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registrationDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.registrationDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.artistId }) |
            @Html.ActionLink("Details", "Details", new { id=item.artistId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.artistId })
        </td>
    </tr>
}

</table>*@
