@model IEnumerable<TalentTrack.Models.tblRecruiter>

@{
    ViewBag.Title = "managePassword";
    Layout = "~/Views/Shared/RecruiterLayout.cshtml";
}

<!-- employer dashboard -->
<div class="jbm-emp-dashboard pad-xs-top-60">
    <div class="container">
        <div class="row margin-bottom-100">
            <!-- right section -->
            <div class="col-md-9 col-sm-12 col-xs-12 pull-right">
                <div class="payment-history">
                    <h4>Account Settings</h4>
                    <span class="section-tit-line-2 margin-bottom-40"></span>
                    @*<form method="post" enctype="multipart/form-data" action="<?php echo site_url('LoginC/updatePass/');?>">*@
                    @using (Html.BeginForm("changePassword", "RecruiterLogin", FormMethod.Post))
                    {
                    <div class="change-pass margin-bottom-30 padding-bottom-60">
                        <h5 class="margin-bottom-40 margin-top-0">Change Password</h5>
                        <!-- row start -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" name="txtuser" id="currentPassword" class="form-control" required="required">
                                    <div id="res"></div>
                                    <span class="form-bar"></span>
                                    <label for="opwd">Old Password*</label>
                                </div>
                            </div>
                        </div>
                        <!-- row start -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="newPasswordDiv" style="display:none;">
                                    <input type="password" name="newpassword" id="newPassword" class="form-control" required="required">
                                    <label for="newpass">New Password*</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <!-- row start -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="confirmPasswordDiv" style="display:none;">
                                    <input type="password" class="form-control" name="conpassword" id="confirmPassword" required>
                                    <label for="confirm-pass">Password Confirm*</label>
                                </div>
                            </div>
                        </div>

                        <div class="row m-t-25 text-left">
                            <div class="col-12">
                                <div class="checkbox-fade fade-in-primary">
                                    <label>
                                        <span class="text-inverse"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- row start -->
                        <div class="row m-t-30">
                            <div class="col-md-6 col-sm-6 col-xs-12 full-wdth">
                                <button class="jbm-btn btn btn-sm btn-primary" id="saveChanges" style="display:none;"><font color="yellow" size="4px"> Confirm password change</font></button>
                                <button class="jbm-btn btn btn-sm btn-primary" id="continue"><font color="yellow" size="4px">Continue</font></button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 full-wdth text-right tct">
                                <p><font size="3px" color="red">(All fields marked with an * are mandatory)</font></p>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <!-- right section -->
            <!-- Emp sidebar -->
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="jbm-emp-sidebar padding-bottom-30 padding-top-30">
                    <ul class="jbm-dashboard-links">
                        <li>
                            <a href="@Url.Action("RecruiterProfile", "RecruiterLogin")">Profile Informations</a>
                        </li>
                        <li>
                            <a href="@Url.Action("UpdateRecruiter","RecruiterLogin")">Edit</a>
                        </li>
                        <li>
                            <a href="@Url.Action("addRequirement","RecruiterLogin")">Post a requirement</a>
                        </li>
                        <li>
                            <a href="@Url.Action("showRequirement","RecruiterLogin")">Requirements</a>
                        </li>
                        <li>
                            <a href="@Url.Action("managePassword","RecruiterLogin")" class="active">Change Password!</a>
                        </li>
                        <li>
                            <a href="@Url.Action("logout","RecruiterLogin")">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Emp sidebar -->
        </div>
    </div>
</div>
<!-- employer dashboard -->

<script>
    $("#newPasswordDiv").hide();
    $("#confirmPasswordDiv").hide();
    $("#saveChanges").hide();
    $("#continue").click(function () {
        var currentPassword = $("#currentPassword").val();
        $.ajax({
            url: "@Url.Action("checkPassword","RecruiterLogin")",
            type: 'POST',
            data: { currentPassword: currentPassword },
            success: function (data) {
                if (data == 1) {
                    alert("Old Password is correct");

                    $("#newPasswordDiv").show();
                    $("#confirmPasswordDiv").show();
                    $("#continue").hide();
                    $("#saveChanges").show();
                    $("#currentPassword").attr("readonly");
                }
                else {
                    alert("Password is incorrect");
                    $("#currentPassword").val("");
                    $("#newPasswordDiv").hide();
                    $("#confirmPasswordDiv").hide();
                }
            }
        });
    });
</script>

<script>
    $("#saveChanges").click(function () {
        var newPassword = $("#newPassword").val();
        var confirmPassword = $("#confirmPassword").val();
        if (newPassword == confirmPassword) {
            $.ajax({
                url: "@Url.Action("changePassword","RecruiterLogin")",
                type: 'POST',
                data: { newPassword: newPassword },
                success: function (data) {
                    if (data == 1) {
                        alert("Passsword Updated");
                        $("#currentPassword").val("");
                        $("#newPasswordDiv").val();
                        $("#confirmPasswordDiv").val();
                        $("#currentPassword").removeAttr("readonly");
                        $("#newPasswordDiv").hide();
                        $("#confirmPasswordDiv").hide();
                        $("#saveChanges").hide();
                        $("#continue").show();
                    }
                    else {
                        alert("Error updating password");
                    }
                }
            });
        }
        else {
            alert("Password must match");
        }
    });
</script>